version: "3.7"

services:
  redis:
    image: redis:alpine

  graphite:
    image: graphiteapp/graphite-statsd
    ports:
      - "7080:80"

  filter:
    build:
      context: .
      dockerfile: Dockerfile.filter
    volumes:
      - ./local/filter.yml:/etc/moira/filter.yml
    depends_on:
      - redis

  checker:
    build:
      context: .
      dockerfile: Dockerfile.checker
    volumes:
      - ./local/checker.yml:/etc/moira/checker.yml
    depends_on:
      - redis
      - filter
      - graphite

  notifier:
    build:
      context: .
      dockerfile: Dockerfile.notifier
    volumes:
      - ./local/notifier.yml:/etc/moira/notifier.yml
    depends_on:
      - redis
      - checker

  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    volumes:
      - ./local/api.yml:/etc/moira/api.yml
    depends_on:
      - redis
      - checker
    networks:
      - default
      - balancer

  web:
    image: moira/web2
    networks:
      - balancer

  balancer:
    image: nginx:alpine
    ports:
      - "8080:8083"
    depends_on:
      - web
      - api
    networks:
      - balancer
    volumes:
      - ./local/nginx.conf:/etc/nginx/conf.d/moira.conf

  relay:
    image: bodsch/docker-carbon-c-relay
    ports:
      - "2003:2003"
    depends_on:
      - graphite
      - filter
    volumes:
      - ./local/relay.conf:/home/relay/carbon-c-relay.conf
    command: /usr/bin/relay -E -s -b 64 -f /home/relay/carbon-c-relay.conf
networks:
  balancer:
