[Unit]
Description=moira-cache - metric stream filtering and caching for Moira
After=network-online.target

[Service]
ExecStart=/usr/local/bin/moira-cache --config=/etc/moira/cache.yml
User=moira
Group=moira
PIDFile=/var/run/moira/moira-cache.pid
Restart=on-failure
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target
