name: Publish docker release
on:
  push:
    tags:
      - "v*"

jobs:
  publish:
    name: Publish images
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - name: Install Docker
        uses: docker-practice/actions-setup-docker@master

      - uses: docker/login-action@v2
        name: Login to DockerHub
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and publish docker images
        run: make docker_release_images
