name: Publish docker feature
on:
  push:
    branches:
      - "feature/*"
      - "hotfix/*"

jobs:
  publish:
    name: Publish images
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        servis: [api, checker, cli, notifier, filter]
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - uses: docker/login-action@v2
        name: Login to DockerHub
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build docker tag
        run: echo "FEATURE_TAG=$(echo ${GITHUB_REF_NAME////-}.$(date '+%Y-%m-%d').${GITHUB_SHA:0:7})" >> $GITHUB_ENV

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          file: ./Dockerfile.${{matrix.servis}}
          build-args: |
            MoiraVersion=${{env.FEATURE_TAG}}
            GIT_COMMIT=${{github.sha}}
          push: true
          tags: moira/${{matrix.servis}}-unstable:${{env.FEATURE_TAG}}
