name: Build and publish image from fork
on:
  issue_comment:
    types: created

jobs:
  publish:
    if: ${{github.event.issue.pull_request}} && ${{github.event.pull_request.head.repo.fork == true}} && ${{github.event.pull_request.base.ref == 'master'}} && ${{github.event.comment.author_association == 'MEMBER'}} && ${{startWith(github.event.comment.body, '/build')}}
        
    name: Publish images
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        servis: [api, checker, cli, notifier, filter]
    steps:
      - name: Get PR branch
        uses: xt0rted/pull-request-comment-branch@v1
        id: comment-branch

      - name: Set latest commit status as pending
        uses: myrotvorets/set-commit-status-action@master
        with:
          sha: ${{ steps.comment-branch.outputs.head_sha }}
          token: ${{ secrets.GITHUB_TOKEN }}
          status: pending

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - uses: docker/login-action@v2
        name: Login to DockerHub
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build docker tag
        run: echo "DOCKER_TAG=$(echo ${GITHUB_REF_NAME////-}.$(date '+%Y-%m-%d').${GITHUB_SHA:0:7})" >> $GITHUB_ENV

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          file: ./Dockerfile.${{matrix.servis}}
          build-args: |
            MoiraVersion=${{env.DOCKER_TAG}}
            GIT_COMMIT=${{github.sha}}
          push: true
          tags: moira/${{matrix.servis}}-unstable:${{env.DOCKER_TAG}}
