name: Test

on:
  - push
  - pull_request

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis
        # Set health checks to wait until redis has started
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 6379:6379
    steps:
      - uses: actions/setup-go@v1
        with:
          go-version: 1.18
      - uses: actions/checkout@v2
      - name: Run tests
        run: make test
      - name: Upload coverage to Codecov
        run: bash <(curl -s https://codecov.io/bash)
